@mainColor: #3EBFAC;
@mainFontWeight: 500;

.jumbotron.image {
  background:
      /* top, transparent black, faked with gradient */
      linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      /* bottom, image */
      url(https://drscdn.500px.org/photo/110290623/m%3D2048/b6b2e3382249b1746a78c3dbd56e00f5) no-repeat center center;
  color: white;
}

.table.font-large td {
  font-size: large;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
  border: none;
}

.numberHeader {
  color: @mainColor;
  font-size: 60px;
  font-weight: @mainFontWeight;
}

.mainButton {
  background-color: @mainColor;
  border-color: @mainColor;
  font-weight: @mainFontWeight;
  &:hover {
    background-color: darken(@mainColor, 15%);
    border-color: darken(@mainColor, 15%);
  }
}